<app-navbar></app-navbar>
<main class = "container-fluid mt-5 mb-5">

    <div class="row" pageBox>

        <div class="col-lg-4">

        </div>

        <div class="col-lg-8">

            <div class="row pageContent mt-5" *ngFor="let data of filterProductData">

                <div class="col-lg-4">
                    <img src="{{data.pdImg}}">
                </div>

                <div class="col-lg-8">
                    <h4>{{data.pdName}}</h4>
                    <p>{{data.pdDesc}}</p>
                    <p>{{data.pdPrice | number}}<img src="/images/free-icon-tenge.png" alt="тенге" style="width: 16px; height: 16px; vertical-align: middle;" /></p>
                    <a class="btn btn-md btn-dark" [href]="data.pdUrl" target="_blank">просмотреть на каспи<i class="bi bi-arrow-right"></i></a>
                    <div class="mt-1">
                        <a class="btn btn-md btn-dark" [routerLink]="['/item-product', data.pdCategory, data.pdId]">просмотреть на сайте<i class="bi bi-arrow-right"></i></a>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-md btn-dark me-2" (click)="addLike(data.pdId)">
                            ❤️ {{data.pdLikes}}
                        </button>

                        
                        <button class="btn btn-md btn-dark" (click)="removeProduct(data.pdId)">
                            ❌ Удалить товар
                        </button>
                        
                    </div>
                </div>

            </div>



        </div>

    </div>

</main>
