.pageBox
{
    padding: 50px 50px;
    margin: 50px 0px;
    background-color: #fff;
}

.pageContent
{
    padding: 10px 40px;

}

.pageContent img 
{
    width: 85%;
    height: 85%;
}
.pageContent h4
{
    font-weight: bold;
    font-size: 18px;
}


