nav {
  display: flex;
  justify-content: center;
  background: #f4eaff; /* Легкий фиолетовый фон */
  padding: 15px 0;
  box-shadow: 0px 4px 10px rgba(90, 44, 160, 0.1);
  border-radius: 10px;
}

ul {
  margin-top: 0;
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #5a2ca0;
  transition: color 0.3s, transform 0.2s;
  padding: 10px 15px;
  border-radius: 5px;
}

a:hover {
  color: #8e44ad;
  transform: translateY(-2px);
  background: rgba(138, 43, 226, 0.1);
  box-shadow: 0px 3px 8px rgba(138, 43, 226, 0.2);
}
