<app-navbar></app-navbar>
<main class="container-fluid p-0">
    
      <div class="container mt-5 mb-5">

        <div class="row categoriesBox">

          <div class="col-lg-3 col-6 categoriesContent" *ngFor="let data of getCategoriesData">
            <a [routerLink]="['product-page',data.code]">
              <img src="{{data.img}}">
              <h4>{{data.name}}</h4>
            </a>
          </div>

        </div>

      </div>
      
      <div class="container" mt-3 mb-3>

        <div class="row productBox">

          <p>
            <a class="float-start link-offset-3" routerLink="">Лучшие устройства</a>
            <a routerLink="float-end"><i class="bi bi-arrow-right-circle"></i></a>
        </p>

          
          <div class="col-lg-3 mt-3" *ngFor = "let data of getApplianceProductData;index as i">
                  <a routerLink="" class="productLink">
                    <div class="productContent" *ngIf="i<=3">
                      <div class="productImg">
                        <img [src]="data.pdImg">
                      </div>
                      <h4>{{data.pdName}}</h4>
                    </div>
                  </a>

          </div>

        </div>
      </div>

</main>
