ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4eaff;
  padding: 12px 18px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #5a2ca0;
  transition: color 0.3s;
}

a:hover {
  color: #8e44ad;
}

/* Кнопка удаления */
.delete-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.delete-btn:hover {
  background: #d93636;
}
